form id="edit_contact" name="edit_contact" method="POST" action="#{contact_path}"

  = render 'contacts/contact_details'

  input name="_method" type="hidden" value="patch"

  button.btn.btn-default type="submit" Submit